.about {
  background-color: $white;
}

.about__title {
  margin: 0;
  margin-bottom: $mobile-indent;
}

.about__list {
  @include reset-list;
}

.about__item {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
    // При добавлении нового элемента это не сработает. Используются ли в БЭМе :last-child и подобное? Можно ли как-то правильнее переопределить маргин для последнего элемента в списке?;
  }
}

.about__icon {
  height: 37px; //задал всем иконкам общую высоту, теперь отступы выглядят как в макете(плюс-минус)
  margin-left: 5px;
  display: block;
  margin-bottom: 21px;
  overflow: hidden;

  fill: $light-green;
}

.about__text {
  margin: 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $black;
}

@media (min-width: $tablet-width) {
  .about__title {
    margin-bottom: $tablet-indent;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about__item {
    width: 50%;
    margin-bottom: 55px;

    &--ecology {
      order: 1;
    }

    &--knitting {
      order: 2;
    }

    &--price {
      order: 3;
    }

    &--support {
      order: 4;
    }

    &--likes {
      order: 5;
      margin-bottom: 0;
    }

    &--gift {
      order: 6;
      margin-bottom: 0;
    }
  }

  .about__icon {
    margin-left: 0;
    margin-bottom: 18px;
  }

  .about__text {
    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding-top: 54px;
    padding-right: 225px;
    padding-bottom: 30px;
    padding-left: 225px;
  }
}
