.button {
  display: block;
  width: 100%;
  padding: 14px 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: $main-text;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid $main-text;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $white;

    background-color: $main-text;

    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &:active {
    color: rgba($white, 0.3);
  }
}
