.cart {
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;

  width: 100%;
  padding: $mobile-indent;
  padding-bottom: 50px;

  background-color: $white;
  border-top: 1px solid $gray;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  transform: translate(-50%, -50%);
}

.cart__title {
  margin: 0;
  margin-bottom: 10px;

  font-size: 25px;
  text-align: center;
  color: $black;
  text-transform: uppercase;
}

.cart__text {
  margin: 0;
  margin-bottom: 25px;

  text-align: center;
}

.cart__list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  margin-bottom: $mobile-indent;
}

.cart__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 52px;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  border: 2px solid $gray;
  cursor: pointer;
}

.cart__control:checked + .cart__btn {
  border-color: $light-green;
}

.cart__control:hover + .cart__btn {
  border-color: $dark-gray;
}

.cart__control:active + .cart__btn {
  border-color: $light-green;
}

.cart__add {
  color: $white;

  background-color: $light-green;
  border-color: $light-green;
}

@media (min-width: $tablet-width) {
  .cart {
    width: 74%;
    padding: $tablet-indent;
    padding-top: $mobile-indent;
    padding-right: 105px;
    padding-left: 105px;

    border: 1px solid $gray;
  }

  .cart__title {
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 57px;
  }

  .cart__text {
    margin-bottom: 20px;

    font-size: 17px;
  }

  .cart__btn {
    width: 112px;
  }
}

@media (min-width: $desktop-width) {
  .cart {
    width: 568px;
  }
}
