.catalog {
  padding-bottom: 0;
}

.catalog__list {
  @include reset-list;
}

.catalog__item {
  margin-bottom: $mobile-indent;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover .catalog__wrapper {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active .catalog__wrapper {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.catalog__img {
  display: block;
  position: relative;
  z-index: 2;
}

.catalog__wrapper {
  position: relative;
  z-index: 1;
  padding: 28px;
  padding-bottom: 22px;

  border: 1px solid  $gray;
}

.catalog__link {
  display: block;
  margin-bottom: 3px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $black;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__info {
  margin: 0;
  margin-bottom: 19px;

  font-size: 13px;
}

.catalog__price {
  line-height: 24px;
}

.catalog__buy-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  border-top: 1px solid $gray;
}

.catalog__cart-btn {
  &:hover .catalog__buy-icon,
  &:focus .catalog__buy-icon {
    opacity: 1;

    fill: $light-green;
  }

  &:active .catalog__buy-icon {
    opacity: 0.3;
  }
}

.catalog__buy-icon {
  overflow: hidden;

  opacity: 0.2;

  fill: black;
}

@media (min-width: $tablet-width) /*and (max-width: $tablet-width-only)*/ {
  .catalog {
    padding-top: 68px;
  }

  .catalog__list {
    display: flex;
    flex-direction: column;
  }

  .catalog__item {
    display: flex;
    margin-bottom: 53px;
  }

  .catalog__img-link {
    width: 50%;
  }

  .catalog__wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 25px;
    padding-bottom: 20px;
  }

  .catalog__link {
    margin-bottom: 5px;

    font-size: 20px;
  }

  .catalog__info {
    font-size: 15px;
  }

  .catalog__buy-wrapper {
    display: flex;
    margin-top: auto;
    padding-right: 6px;
    padding-left: 6px;
  }

  .catalog__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-top: 145px;
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    flex-direction: column;
    width: 317px;
  }

  .catalog__img-link {
    width: auto;
  }

  .catalog__wrapper {
    width: auto;
    min-height: 197px; // не смог разобраться как сделать их все одинаковой высоты без задания этой высоты.
  }

  .catalog__info {
    margin-bottom: 0;
  }

  .catalog__buy-wrapper {
    padding-left: 0;
  }
}
