.catalog__list {
  @include reset-list;
}

.catalog__item {
  margin-bottom: $mobile-indent;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.catalog__img {
  display: block;
}

.catalog__wrapper {
  padding: 28px;

  border: 1px solid  $gray;
}

.catalog__link {
  display: block;
  margin-bottom: 2px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $black;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__info {
  margin: 0;
  margin-bottom: 20px;

  font-size: 13px;
}

.catalog__price {
  line-height: 24px;
}

.catalog__buy-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  border-top: 1px solid $gray;
}

.catalog__cart-btn {
  display: block;

  &:hover .catalog__buy-icon,
  &:focus .catalog__buy-icon {
    opacity: 1;

    fill: $light-green;
  }

  &:active .catalog__buy-icon {
    opacity: 0.3;
  }
}

.catalog__buy-icon {
  display: block;
  overflow: hidden;

  opacity: 0.2;

  fill: black;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    flex-direction: column;
  }

  .catalog__item {
    display: flex;
    margin-bottom: 55px;
  }

  .catalog__img-link {
    width: 50%;
  }

  .catalog__img {
    min-height: 100%;
  }

  .catalog__wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 25px;
    padding-top: 22px;
    padding-bottom: 30px;
  }

  .catalog__link {
    margin-bottom: 5px;

    font-size: 20px;
  }

  .catalog__info {
    font-size: 15px;
  }

  .catalog__buy-wrapper {
    display: flex;
    margin-top: auto;
    padding-right: 6px;
    padding-left: 6px;
  }

  .catalog__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    max-width: $desktop-width;
    margin: 0 auto;
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    flex-direction: column;
    width: 317px;
    margin-bottom: 0;
  }

  .catalog__img-link {
    width: auto;
  }

  .catalog__wrapper {
    flex: 1;
    flex-basis: auto; //fix высоты для ie11
    width: auto;
    padding: 26px;
  }

  .catalog__info {
    margin-bottom: 15px;
  }

  .catalog__buy-wrapper {
    padding-left: 0;
  }
}
