.contacts-list__caption {
  width: 30%;
  padding: 0;
  padding-top: 25px;

  vertical-align: top;
}

.contacts-list__value {
  width: 70%;
  padding: 0;
  padding-top: 26px;

  vertical-align: top;
}

.contacts-list__email {
  padding-bottom: 3px;

  color: $black;

  border-bottom: 1px solid $light-green;

  &:hover,
  &:focus {
    color: $medium-green-hover;

    border-bottom-color: $medium-green-hover;

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .contacts-list {
    font-size: 17px;
    display: flex;
  }

  .contacts-list tbody {
    display: flex;
    flex-wrap: wrap; //на случай добавления новых данных
  }

  .contacts-list__row {
    width: 50%;
    display: flex;
  }

  .contacts-list__caption {
    width: auto;
    display: block;
    margin-right: 25px;
  }

  .contacts-list__value {
    display: block;
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts-list tbody {
    display: table;
  }

  .contacts-list__row {
    margin-bottom: 4px;
  }
}
