.contacts-list {
  border-collapse: collapse;
}

.contacts-list__row {
  display: block;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0; //опять же вопрос про last-child - используется ли он
  }
}

.contacts-list__caption {
  padding: 0;
  padding-right: 30px;

  vertical-align: top;
}

.contacts-list__value {
  padding: 0;
}

.contacts-list__email {
  padding-bottom: 4px;

  color: $black;

  border-bottom: 1px solid $light-green;

  &:hover,
  &:focus {
    color: $medium-green-hover;

    border-bottom-color: $medium-green-hover;

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .contacts-list {
    font-size: 17px;
  }

  .contacts-list tbody {
    display: flex;
    flex-wrap: wrap;
    //на случай добавления новых данных
  }

  .contacts-list__row {
    display: flex;
    width: 50%;
  }

  .contacts-list__caption {
    padding-right: 25px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-list tbody {
    display: table;
  }

  .contacts-list__row {
    margin-bottom: 30px;
  }
}
