.contacts__title {
  margin: 0;
  margin-bottom: 27px;

  font-size: 18px;
}

.contacts__table {
  margin-bottom: 35px;
}

.contacts__map {
  margin-right: -$mobile-indent;
  margin-bottom: 40px;
  margin-left: -$mobile-indent;
}

@media (min-width: $tablet-width) {
  .contacts {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 47px;
      right: 53px;

      width: 47px;
      height: 81px;

      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;//да - он здесь нужен)
    }
  }

  .contacts__title {
    margin-bottom: $tablet-indent;

    font-size: 43px;
    line-height: 50px;
    color: $black;
  }

  .contacts__table {
    margin-bottom: 55px;
  }

  .contacts__map {
    margin-right: -$tablet-indent;
    margin-bottom: 55px;
    margin-left: -$tablet-indent;
  }

  .contacts__write {
    width: 230px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;

    padding-top: 130px;
    padding-bottom: 106px;
    padding-left: 220px;

    &::after {
      top: 134px;
      left: 113px;
    }
  }

  .contacts__title {
    margin-bottom: 24px;

    font-size: 53px;
    line-height: 57px;
  }

  .contacts-list {
    margin-bottom: 71px;
  }

  .contacts__map {
    position: absolute;
    top: 72px;
    right: 50px;

    width: 525px;
    height: 460px;
    margin: 0;
  }

  .contacts__write {
    width: 27%;
    margin: 0;
  }
}
