.contacts__title {
  margin: 0;
  margin-top: 14px;
  margin-bottom: 24px;

  font-size: 18px;
}

.contacts__table {
  margin-bottom: 5px;
}

.contacts__map {
  margin-bottom: 38px;
  margin-left: -30px;
}
