.copyright {
  background-color: $light-gray;
}

.copyright__link {
  justify-content: center;
  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 19px;
  line-height: 19px;
  color: $black;

  fill: $light-green;

  &:hover,
  &:focus {
    fill: $medium-green-hover;
  }

  &:active {
    opacity: 0.3;
  }

  .copyright__icon {
    margin-left: $mobile-indent;
  }
}
