.copyright {
  background-color: $light-gray;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: bold;
  font-size: 19px;
  line-height: 19px;
  color: $black;

  &:hover,
  &:focus {
    path {
      fill: $medium-green-hover;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
