.main-nav {
  background-color: $white;
}

@media (min-width: $tablet-width) {
  .main-nav {
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin-left: 0;
    width: 100%;
  }
}
