.order__text {
  margin: 0;
  margin-bottom: 25px;

  font-size: 13px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .order__text {
    margin-bottom: 8px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .order__text {
    max-width: $desktop-width;
    margin: 0 auto;
    margin-bottom: 6px;
    padding-right: 225px;
    padding-left: 225px;
  }
}
