.page-footer {
  background-color: $light-gray;
  padding: 25px 30px 23px;
}

.page-footer__social {
  padding: 0 59px 20px;
  border-bottom: 1px solid $gray;
}

.page-footer__copyright {
  padding: 19px 40px 0;
}
