.page-footer {
  padding: 25px $indent 23px;

  background-color: $light-gray;
}

.page-footer__social {
  padding-bottom: 20px;

  border-bottom: 1px solid $gray;
}

.page-footer__copyright {
  padding: 19px 40px 0;
}
