.page-main__title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 176px;
  margin: 0;
  padding: 0 $mobile-indent;

  font-size: 27px;
  color: $black;

  background-color: $light-gray;

  &::after {
    content: "";

    min-height: inherit;

    font-size: 0;
  }
}
