.production__wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: $mobile-indent;

  border: 1px solid  $gray;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.production__title {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 95px;
  margin: 0;
  padding-right: $mobile-indent;
  padding-left: 90px;

  font-size: 17px;
  line-height: 24px;
  color: $black;

  &::before {
    content: "";
    position: absolute;
    left: 33px;

    width: 32px;
    height: 23px;

    background-image: url("../img/icon-video.svg");
    background-position: center center;
  }

  &::after {
    //fix min-height для ie11
    content: "";

    min-height: inherit;

    font-size: 0;
  }
}

.production__embed {
  position: relative;

  order: 2;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  background-color: $light-green;

  &:hover .production__button,
  &:focus .production__button {
    outline: none;
    transform: translate(-50%, -50%) scale(1.2, 1.2);

    transition: 0.1s ease-in;
  }

  &:active .production__button {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.production__link {
  display: block;
}

.production__img {
  display: block;
}

.production__button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  width: 101px;
  height: 77px;
  padding: 0;

  background-color: transparent;
  border: none;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.production__text {
  order: 3;
  margin: 0;
  padding: 33px;
  padding-bottom: 25px;

  font-size: 13px;
  line-height: 24px;
}

.production__order {
  order: 4;
  width: auto;
  margin: 0 $mobile-indent;
}

@media (min-width: $tablet-width) {
  .production__wrapper {
    padding-bottom: 45px;
  }

  .production__title {
    display: block;
    order: 2;
    min-height: auto;
    margin-bottom: 25px;
    padding-left: 105px;

    font-size: 20px;

    &::before {
      left: 40px;
    }
  }

  .production__embed {
    margin-bottom: 40px;
    padding-bottom: 68.1%;
    overflow: hidden;
  }

  .production__text {
    order: 3;
    margin-bottom: 35px;
    padding: 0 40px;

    font-size: 15px;
    line-height: 30px;
  }

  .production__order {
    order: 4;
    margin: 0 40px;
  }

  .production__img {
    position: absolute;
    top: 50%;
    left: 50%;

    width: auto;
    height: 100%;

    transform: translate(-50%, -50%);
  }
}

@media (min-width: $desktop-width) {
  .production__wrapper {
    display: block;
    min-height: 456px;
  }

  .production__embed {
    float: left;
    width: 682px;
    margin-bottom: 0;
    padding-bottom: 43.3%;
  }

  .production__title {
    float: right;
    width: 290px;
    margin-bottom: 25px;
    padding-top: 95px;
    padding-right: 60px;
    padding-left: 0;

    &::before {
      top: 45px;
      left: 3px;
    }
  }

  .production__text {
    float: right;
    width: 290px;
    margin-bottom: 50px;
    padding-right: 60px;
    padding-left: 0;
  }

  .production__order {
    float: right;
    width: 230px;
    margin-right: 60px;
  }
}
