.reviews {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 6px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
    opacity: 0.1;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 24px;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 24px;
}

.reviews__author {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
}

.reviews__author-link {
  display: block;
  margin-bottom: $mobile-indent;

  font-size: 17px;
  color: $main-text;
}

.reviews__slide-wrapper {
  display: flex;
  margin-bottom: 37px;
}

.reviews__slide-btn {
  width: 50%;
  height: 52px;

  background-color: transparent;
  border: 1px solid  $gray;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 78px;
    padding-bottom: 100px;

    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;

    &::after {
      height: 15px;
    }
  }

  .reviews__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .reviews__title {
    order: 1;
    width: 50%;
    margin-bottom: 47px;
  }

  .reviews__list {
    order: 3;
  }

  .reviews__text {
    margin-bottom: 55px;

    font-size: 17px;
  }

  .reviews__author {
    font-size: 18px;
    color: $black;
  }

  .reviews__author-link {
    width: 20%;
  }
  .reviews__slide-wrapper {
    position: absolute;
    right: 45px;
    bottom: 96px;

    order: 4;
    width: 24%;
  }

  .reviews__button {
    order: 2;
    align-self: baseline;
    width: 26%;
  }

  .reviews__slide-btn {
    border: none;
  }
}
