.social {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $light-gray;
}

.social__list {
  @include reset-list;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 140px;
}

.social__icon {
  display: block;

  &:hover,
  &:focus {
    fill: $medium-green-hover;
  }

  &:active {
    opacity: 0.3;
  }

  //заметил, что фокус не работает при хождении по сайту с клавиатуры. Пытался сделать через social__link, но почему-то тоже отказывается работать.
}
