.weekly-good {
  position: relative;

  background-color: $white;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 6px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: cover;
  }
}

.weekly-good__title {
  margin: 0;
  margin-bottom: 3px;
}

.weekly-good__subtitle {
  display: block;
  margin: 0;
  margin-bottom: 22px;

  font-size: 17px;
  line-height: 20px;
  color: $light-green;
  text-transform: uppercase;
}

.weekly-good__description {
  margin: 0;
  margin-bottom: 18px;

  line-height: 24px;
}

.weekly-good__list {
  width: 100%;
  margin-bottom: $indent;

  border-collapse: collapse;
  line-height: 20px;
}

.weekly-good__row {
  border-bottom: 1px solid $gray;
}

.weekly-good__caption {
  display: flex;
  align-items: center;
  min-height: 39px;
  padding-right: 12px;
}

.weekly-good__img {
  margin-bottom: 15px;
}

.weekly-good__price {
  margin: 0;
  margin-bottom: 24px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .weekly-good {
    &::after {
      height: 17px;

      opacity: 0.1;
    }
  }

  .weekly-good__wrapper {
    display: flex;
    flex-direction: column;
  }

  .weekly-good__subtitle {
    width: 80px;
    margin-top: -46px;
    margin-right: 22px;
    margin-bottom: 53px;
    margin-left: auto;

    line-height: 17px;
    text-align: center;
  }

  .weekly-good__description {
    width: 50%;
    margin-bottom: 35px;
    padding-right: 50px;

    font-size: 17px;
    line-height: 30px;
  }

  .weekly-good__list {
    width: 44%;
    margin-bottom: 57px;
  }

  .weekly-good__caption {
    padding-right: 0;
  }

  .weekly-good__img {
    position: absolute;
    top: 150px;
    right: 50px;

    width: 334px;
  }

  .weekly-good__price {
    width: 50%;
    margin-bottom: 33px;
    padding-right: 50px;

    font-size: 20px;
  }

  .weekly-good__button {
    width: 43%;
  }
}
