.weekly-good {
  position: relative;

  display: flex;
  flex-direction: column;

  background-color: $white;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 6px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
    opacity: 0.1;
  }
}

.weekly-good__title {
  margin: 0;
  margin-bottom: 3px;
}

.weekly-good__subtitle {
  display: block;
  margin: 0;
  margin-bottom: 22px;

  font-size: 17px;
  line-height: 20px;
  color: $light-green;
  text-transform: uppercase;
}

.weekly-good__description {
  margin: 0;
  margin-bottom: 18px;

  line-height: 24px;
}

.weekly-good__list {
  width: 100%;
  margin-bottom: $mobile-indent;

  border-collapse: collapse;
  line-height: 20px;
}

.weekly-good__row {
  border-bottom: 1px solid $gray;
}

.weekly-good__caption {
  display: flex;
  align-items: center;
  min-height: 39px;
  padding-right: 12px;
}

.weekly-good__img {
  display: block;
  margin-bottom: 23px;
}

.weekly-good__price {
  margin: 0;
  margin-bottom: 25px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .weekly-good {
    padding-top: 45px;
    padding-bottom: 38px;
    &::after {
      height: 15px;
    }
  }

  .weekly-good__wrapper {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  .weekly-good__wrapper--half {
    width: 50%;
    padding-right: 50px;
  }

  .weekly-good__subtitle {
    width: 80px;
    margin-top: 10px;
    margin-right: 23px;

    line-height: 17px;
    text-align: center;
  }

  .weekly-good__description {
    margin-bottom: 35px;

    font-size: 17px;
    line-height: 30px;
  }

  .weekly-good__list {
    margin-bottom: 58px;
  }

  .weekly-good__caption {
    padding-right: 0;
  }

  .weekly-good__img {
    position: absolute;
    top: 7px;
    right: -100%;

    width: 333px;
  }

  .weekly-good__price {
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 34px;

    font-size: 20px;
  }

  .weekly-good__button {
    width: 100%;
  }
}
