.weekly-good {
  position: relative;

  display: flex;
  flex-direction: column;

  background-color: $white;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 6px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
    opacity: 0.1;
  }
}

.weekly-good__title-wrapper {
  order: 1;
}

.weekly-good__title {
  margin: 0;
  margin-bottom: 3px;
}

.weekly-good__subtitle {
  display: block;
  margin: 0;
  margin-bottom: 22px;

  font-size: 17px;
  line-height: 20px;
  color: $light-green;
  text-transform: uppercase;
}

.weekly-good__img {
  order: 3;
  margin-bottom: 20px;
}

.weekly-good__info-wrapper {
  order: 2;

  &--order {
    order: 4;
  }
}

.weekly-good__description {
  margin: 0;
  margin-bottom: 18px;

  line-height: 24px;
}

.weekly-good__list {
  width: 100%;
  margin-bottom: $mobile-indent;

  border-collapse: collapse;
  line-height: 20px;
}

.weekly-good__row {
  border-bottom: 1px solid $gray;
}

.weekly-good__caption {
  display: flex;
  align-items: center;
  min-height: 39px;
  padding: 0;
  padding-right: 12px;
}

.weekly-good__value {
  padding: 0;
}

.weekly-good__price {
  margin: 0;
  margin-bottom: 27px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .weekly-good {
    display: block;

    &::after {
      height: 15px;
    }
  }

  .weekly-good__title-wrapper {
    display: flex;
    margin-bottom: 32px;
  }

  .weekly-good__title {
    flex-grow: 1;
  }

  .weekly-good__subtitle {
    width: 80px;
    margin-top: 10px; //можно ли как-то выорвнять содержимое weekly-good__title-wrapper без задания высоты? align-items в разных значениях не помог.
    margin-right: 23px;

    line-height: 17px;
    text-align: center;
  }

  .weekly-good__info-wrapper {
    width: 50%;
    min-height: 244px;
    padding-right: $tablet-indent;

    &:last-of-type {
      min-height: auto;
    }
  }

  .weekly-good__img {
    position: relative;
    top: 9px;

    float: right;
    width: 333px;
  }

  .weekly-good__description {
    margin-bottom: 35px;

    font-size: 17px;
    line-height: 30px;
  }

  .weekly-good__list {
    margin-bottom: 55px;
  }

  .weekly-good__caption {
    padding-right: 0;
  }

  .weekly-good__price {
    margin-bottom: 35px;

    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .weekly-good {
    padding-top: 122px;
    padding-bottom: 100px;

    &::after {
      height: 23px;
    }
  }

  .weekly-good__title-wrapper {
    justify-content: flex-start;
    margin-bottom: 35px;
  }

  .weekly-good__info-wrapper {
    width: 32%;
    margin-bottom: 108px;
    margin-left: 175px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .weekly-good__title {
    z-index: 2;

    order: 2;
  }

  .weekly-good__subtitle {
    margin-top: 15px;
    margin-right: 50px;
    margin-left: 43px;
  }

  .weekly-good__description {
    margin-bottom: 50px;
  }

  .weekly-good__img {
    position: absolute;
    top: 70px;
    right: 50px;
    z-index: 1;

    width: 525px;
  }
}
