$white: #ffffff;
$black: #000000;
$gray: #ececec;
$light-gray: #f1f1f1;
$light-green: #63d1bb;
$light-green-hover: #59d5bc;
$medium-green: #56c3b2;
$medium-green-hover: #46c1ae;
$main-text: #444444;

$font: "Open Sans", "Arial", sans-serif;

$indent: 30px; //используется для отступов (margin-bottom, padding слева и справа)
